body,
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.bg-main {
    background: rgb(172, 227, 255);
    background: linear-gradient(90deg, #b8f9ff 0%, #6eb4ff 100%);
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.white-shadow-text {
    color: white;
    line-height: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.no-pointer {
    cursor: auto;
}

.black-color {
    background-color: #444444;
}

.btn-black {
    border-radius: 0.5rem !important;
    color: white !important;
    border: 1px solid black !important;
    background-color: #444444 !important;
}

.btn-black:hover {
    background-color: #343434 !important;
}

.btn-black:active {
    background-color: #333333 !important;
}

.dropdown-item-black {
    color: white !important;
}

.dropdown-item-black:hover {
    background-color: #343434;
}

.dropdown-item-black.active {
    background-color: #333333 !important;
}

.dropdown-menu {
    width: auto !important;
    min-width: auto !important;
}

.dropdown-toggle {
    min-width: 60px;
}