.test-container {
    font-size: 1.5rem;
    height: 5.5rem;
    overflow-y: hidden;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 1);
}

.test-overlay {
    border: 1px solid #000;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    height: 5.5rem;
    z-index: 10;
    backdrop-filter: blur(3px);
    text-shadow: 2px 2px #000;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.bg-gray {
    background-color: rgb(212, 212, 212);
}

.bg-green {
    background-color: rgb(175, 255, 199);
}

.bg-red {
    background-color: rgb(255, 164, 164);
}

.results-tooltip {
    --bs-tooltip-bg: #444444;
    --bs-tooltip-color: white;
}